/* =============
    action1
============= */

#action1{
    >div{

        @include md{
            gap: 16px;
            display: grid;
            grid-template-columns: 50% auto; 
        }

        .action-content{
            margin: 16px;
            background-color: var(--cadwarmgrey);
            #action1d{
                padding: 16px;
            }
            #action2d{
                padding: 16px;
            }
            >div{
                
                display: grid;
                grid-template-columns: auto 120px;
        
                section{
        
                }
                aside{
                    img{
                        width: 100%;
                    }
                }
            }
        
        }
        
    }
        
}
