/* =============
    action1
============= */

#action1{
    >div{

        @include md{
            gap: 16px;
            display: grid;
            grid-template-columns: 48% auto; 
        }

        .action-content{
            >div{

                display: grid;
                grid-template-columns: auto 120px;
        
                section{
        
                }
                aside{
                    img{
                        width: 100%;
                    }
                }
            }
        
        }
        
    }
        
}
