/* =============
    hero1
============= */

#hero1{

    #heroimg1{
        width: 100vw;
        height: 50vh;
        background-image: url('../img/pictures/heroimg1.jpeg');
        background-size: cover;
        background-position: center center;

        @include lg{
            height: 70vh;
        }
        @include xl{
            height: 90vh;
        }
    }
    

    img{
        width: 100%;
    } 

    article{

        @include md{
            #herolink1-txt{
                padding: 16px;
            }
            #herolink2-txt{
                padding: 16px;
            }
            display: grid;
            grid-template-columns: 50% auto; 
        }

        #herolink1{
            padding-top: 12px;
            padding-bottom: 12px;
            background-color: var(--cadgreen);
            >div{
                section{
                    p{
                        font-size: 16px;
                    }
                }
            }
        }
        #herolink2{
            padding-top: 12px;
            padding-bottom: 12px;
            background-color: var(--cadlightgreen);
        }
    

        section{
            >div{
                display: grid;
                grid-template-columns: auto 30px;
            }
        }
    }
}
    