/* =============
    hero1
============= */

#hero1{

    img{
        width: 100%;
    } 

    article{

        @include md{
            #herolink1-txt{
                padding: 16px;
            }
            #herolink2-txt{
                padding: 16px;
            }
            display: grid;
            grid-template-columns: 50% auto; 
        }

        #herolink1{
            background-color: aquamarine;
        }
        #herolink2{
            background-color: beige;
        }
    

        section{
            >div{
                display: grid;
                grid-template-columns: auto 30px;
            }
        }
    }
}
    