/* =============
    percs
============= */

#percs{
    >ul{
        display: grid;
        gap: 16px;
        grid-template-rows: repeat(5);

        @include md{
            grid-template-columns: (4, 360);
            grid-template-rows: (3, 433);
            grid-template-areas: "p1 p2"
            "p3 p4"
            "p5";
        }


        >li{
            img{
                width: 100%;
            } 
        }
    }

}
