/* =============
    percs
============= */

#percs{
    >ul{
        display: grid;
        gap: 16px;

        @include md{
            grid-area: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-areas:
            "p1 p1 p2 p2"
            "p3 p3 p4 p4"
            ". p5 p5 .";
        }

        #p1{
            @include md{
                grid-area: p1;
            }
        }

        #p2{
            @include md{
                grid-area: p2;
            }
        }

        #p3{
            @include md{
                grid-area: p3;
            }
        }

        #p4{
            @include md{
                grid-area: p4;
            }
        }

        #p5{
            @include md{
                grid-area: p5;
            }
        }


        >li{
            
                img{
                    width: 100%;
                } 
            
            
        }
    }

}
