// /* =============
//     searchinv
// ============= */

#searchinv{
    >div{
        
            display: grid;
            grid-template-columns: auto 50px;

            #searchtxt{
                width: 100%;
            }

        
    }
}