/* =============
    searchinv
============= */
#searchinv{
    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". searchinv .";

    div{
        grid-area: searchinv;
       
        section{
            h6{

            }
            img{
    
            }
        }
    
    }

   
}